.descripcion_titulo{
    color: var(--preto-100, #464646);
}

@media screen and (min-width: 0) {
    .descripcion_titulo{
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .descripcion_titulo{
        font-size: 22px;
    }
}

@media screen and (min-width: 1024px) {
    .descripcion_titulo{
        font-size: 26px;
    }
}