.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

@media screen and (min-width: 0) {
    .formulario{
        width: 328px;
        height: 590px;
    }
}

@media screen and (min-width: 768px) {
    .formulario{
        width: 656px;
        height: 550px;
    }
}

@media screen and (min-width: 1024px) {
    .formulario{
        width: 300px;
        height: 480px;
    }
}

@media screen and (min-width: 1114px) {
    .formulario{
        width: 516px;
        height: 490px;
    }
}

@media screen and (min-width: 1124px) {
    .formulario{
        gap: 30px;
        width: 913px;
        height: 515px;
    }
}



