.sobremi_img {
  flex-shrink: 0;
  border-radius: 368px;
  background: url("../../../../img/img_sobremi/ruben.png"), lightgray 50% / cover no-repeat;
}

@media screen and (min-width: 0) {
  .sobremi_img {
    width: 98px;
    height: 98px;
  }
}

@media screen and (min-width: 768px) {
  .sobremi_img {
    width: 146px;
    height: 146px;
  }
}

@media screen and (min-width: 1024px) {
  .sobremi_img {
    width: 358px;
    height: 358px;
  }
}
