.contacto_boton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--azul-100, #2A7AE4);
    color: var(--preto-branco, #FFF);
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

.contacto_boton:hover{
    cursor: pointer;
    background: #0941b8;
}

@media screen and (min-width: 0) {
    .contacto_boton{
        font-size: 14px;
        width: 140px;
        height: 37px;
    }
}

@media screen and (min-width: 768px) {
    .contacto_boton{
        font-size: 15px;
        width: 150px;
        height: 41px;
    }
}

@media screen and (min-width: 1024px) {
    .contacto_boton{
        font-size: 16px;
        width: 160px;
        height: 45px;
    }
}